body {
    font-size: 2em;
    max-width: 120em;
    max-height: 67.5em;
}

@media screen and (max-width: 820px) {
    body {
        font-size: 1.25em;
        max-width: 51.25em;
        max-height: 73.75em;
    }
}

@media screen and (max-width: 320px) {
    body {
        font-size: 1em;
        max-width: 20em;
        max-height: 35.5em;
    }
}

.accordion-container {
    margin: 3%;
    position: relative;
    background-color: rgb(180, 158, 135);
}

.accordion-container:hover {
    color: rgb(69, 28, 3);
    
}

.artikl-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(69, 28, 3);
}

.accordion-container .bayan-mem {
    width: 100%;
    background-color: rgb(232, 178, 76);
    margin: 0 auto;
    height: 0;
    text-align: center;
    color: rgba(133, 100, 58, 0);
    padding: 0 5em;
    box-sizing: border-box;
    transition: color 0.5s, padding 0.5s;
    overflow: hidden;
}

.articl-2 {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.articl-2 .aicon-noaktiv {
    display: none;
} 

.accordion-container label {
    cursor: pointer;
    display: block;
    padding: 0.5em 0.75em;
    width: 100%;
    color: rgb(189, 91, 34);
    box-sizing: border-box;
    z-index: 100;
    transition: color .35s;
    overflow: hidden;
}

.accordion-container label:hover {
    color: rgb(69, 28, 3);
    
}

.accordion-container input {
    display: none;
}

.accordion-container input:checked + label {
    background-color: rgb(180, 158, 135);
    color:  rgb(246, 125, 3);
}


.accordion-container input:checked + label + .bayan-mem {
    height: auto;
    padding: 1em 1.5em 1em;
}

.img {
    text-align: center;
    display: flex;
}
